.site-footer {
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-forest);       /* Verde oscuro elegante */
  color: #f0f0f0;                            /* Gris muy claro, suave al ojo */
  font-size: 0.9rem;
  border-top: 2px solid var(--color-accent); /* Línea sutil en durazno */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
